<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE vxml PUBLIC "-//BeVocal Inc//VoiceXML 2.0//EN" "http://cafe.bevocal.com/libraries/dtd/vxml2-0-bevocal.dtd">
<vxml version="2.0" xmlns="http://www.w3.org/2001/vxml" xml:lang="pt-BR">

    <form>
        <field name="nome">
            <prompt>Informe o nome do aluno</prompt>
            <grammar>[ willian luiza beto carol ]</grammar>
        </field>

        <field name="nota1">
            <prompt>Informe a primeira nota</prompt>
            <grammar>
                <![CDATA[
                  ( [ 0 1 2 3 4 5 6 7 8 9 10] ?(ponto [ 0 1 2 3 4 5 6 7 8 9 ]) )
                ]]>
            </grammar>

        </field>

        <field name="nota2">
            <prompt>Informe a segunda nota</prompt>
            <grammar>
                <![CDATA[
                  ( [ 0 1 2 3 4 5 6 7 8 9 10] ?(ponto [ 0 1 2 3 4 5 6 7 8 9 ]) )
                ]]>
            </grammar>
        </field>

        <filled>
            <submit method="post" namelist="nome nota1 nota2" next="http://104.236.56.111:3000/alunos/salva"/>
        </filled>

    </form>

    <nomatch>
        Nao foi possivel entender!
        <reprompt/>
    </nomatch>

</vxml>
