<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE vxml PUBLIC "-//BeVocal Inc//VoiceXML 2.0//EN" "http://cafe.bevocal.com/libraries/dtd/vxml2-0-bevocal.dtd">
<vxml version="2.0" xmlns="http://www.w3.org/2001/vxml" xml:lang="pt-BR">

    <form>

        <block>
            Aluno e notas cadastrado com sucesso.
            Voltando ao menu inicial.
            <goto next="http://104.236.56.111:3000/alunos/menu" />
        </block>

    </form>


</vxml>
